<template name="ProviderView">
  {{> tag_filter}}
  <div class="todos-panel" style="clear:both">
    
    {{> CreateTodoItem}}
    
    <ul class="todos-list">
      {{#each items}}
        {{#with joinWithIgnore}}
          <li class="todo-item {{isDoneClass}}">
            {{> TodoItem}}
          </li>
        {{/with}}
      {{else}}
        <li class="todo-item empty">
          No todos yet.
        </li>
      {{/each}}
    </ul>

    {{> TodosCount}}
    <div>
      User role: {{userrole}}
    </div>
  </div>
</template>

<template name="FilterCategories">
    <div class="categoryList">
    {{#each available_categories}}    
      
        <input class="categoryButton" type="button" value={{tag}}({{count}})>      
      
    {{/each}}
    </div>
</template> 

<template name="tag_filter">
  <div id="tag-filter" class="tag-list">
    <div class="label">Show:</div>
    {{#each available_categories}}
      <div class="tag {{tag_selected}}">
        {{tag_text}} <span class="count">({{count}})</span>
      </div>    
    {{/each}}
  </div>
</template>
